:root {
  --muc-logo-filter: invert(0); /* Sets the default LHM logo color to black */
  /*official rit colors*/
  --vp-c-brand-1: #003ceb;
  --vp-c-brand-2: #f2f2f2;
  --vp-c-brand-3: #003ceb;
  --vp-c-brand-soft: #1e6cff;
  /*alt buttonss*/
  --vp-button-alt-border: #003ceb;
  --vp-button-alt-bg: #ffffff;
  --vp-button-brand-hover-bg: var(--vp-c-brand-soft);
  --vp-nav-logo-height: 40px;  /*bigger size for the logo*/
}

/* Dark mode specific configurations */
.dark {
  --muc-logo-filter: invert(1); /* Sets the LHM logo color to white */
  --vp-button-alt-bg: transparent;  /*alt button is transparent on dark mode */
}

/* Enables footer on all pages instead of only the home page */
footer.VPFooter {
  display: block !important;
  z-index: 100 !important;
}

@media all and (max-width: 450px) {
  /* Hides the logo text on mobile phones */
  .VPNav div.logo a {
    overflow: hidden;
    width: 23px;
  }
  /* Fixes compression of logo on phone screens */
  .VPNav div.logo a img {
    object-fit: cover;
    object-position: left;
  }
}
