:root {
  --muc-logo-filter: invert(0);
  /*official rit colors*/
  --vp-c-brand-1: #003ceb;
  --vp-button-brand-hover-bg: var(--vp-c-brand-soft);
  --vp-nav-logo-height: 28px; /*bigger size for the logo*/
}

/* Dark mode specific configurations */
.dark {
  --muc-logo-filter: invert(1);
  --vp-button-alt-bg: transparent; /*alt button is transparent on dark mode */
  --vp-c-brand-1: #69fff5;
}

/* Enables footer on all pages instead of only the home page */
footer.VPFooter {
  display: block !important;
  z-index: 100 !important;
}

@media all and (max-width: 450px) {
  /* Hides the logo text on mobile phones */
  .VPNav div.logo a {
    overflow: hidden;
    width: 23px;
  }
  /* Fixes compression of logo on phone screens */
  .VPNav div.logo a img {
    object-fit: cover;
    object-position: left;
  }
}

/*  Added from vitepress site theme: https://github.com/vuejs/vitepress/blob/main/docs/.vitepress/theme/styles.css */

:root {
  --vp-home-hero-image-background-image: linear-gradient(
    0deg,
    #69fff5 50%,
    #1e6cff 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

.VPHero .VPImage {
  filter: drop-shadow(-2px 4px 6px rgba(0, 0, 0, 0.2));
  padding: 18px;
}

html.dark .light-only {
  display: none !important;
}

html:not(.dark) .dark-only {
  display: none !important;
}
