name: Deploy docs

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy-pages:
    uses: it-at-m/.github/.github/workflows/deploy-pages.yml@main
    with:
      sub-path: "."
      node-version: "20"
